# godot related files
.godot/
.import/
*.translation

# this config file contains sensitive content and should not be commited
export_presets.cfg

# mono files
.mono/

# the output binaries
build/

#android build files
android/

# object files
*.o
*.os

# other random files
.sconsign.dblite

# tiled session
*.tiled-session
