# SConstruct db
*.dblite

# Godot Serialisations
api.json

# Visual Studio Cache
.vs/

# VSCode Cache
.vscode/

# Mac stuff
.DS_Store

# Binaries
build/
*.os
*.dll
*.so
*.a

# Godot
godot/.import/
godot/*.translation
godot/export_presets.cfg
godot/.mono/
godot/android/

# Gdnative libs
godot/gdnative/linux.*
godot/gdnative/windows.*

# compile commands
compile_commands.json

# docs
docs/
